body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.output{
    /* background-color: antiquewhite; */
    position: relative;
    left: 10%;
}
.input__area{
    /* background-color: aquamarine; */
    position: absolute;
    top: 60px;
    left: 60px;
}
.kigou, .row-i{
    float:left;
}
.col-j{
    float:none;
}

.mas-k{
    float: left;
}

input[type=text], input[type=button] {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: block;
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
}
input[type=button]{
    background-color: antiquewhite;
}

section {
    margin: 30px auto;
    width: 500px;
    height: 500px;
}
.button__area>button{
    width: 150px;
    height: 70px;
    margin: 20px;
    text-align: center;
    font-size: 16px;
}
.button__area p {
    margin-left: 20px;
}
#timer {
    text-align: center;
    font-size: 28px;
    border: 1px solid;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
}

.output-2 {
    margin: 30px;
    text-align: center;
    height: 100px;
}